.currencySelectedWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding-top: 10rem;
  width: 100%;
  background-color: #ffffff;
  background: linear-gradient(180deg, #181f29 0%, #181f2900 10%);
  min-height: calc(100vh - 230px);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #181f29;

  @media (max-width: 576px) {
    font-size: 1.8rem;
  }
}

.secondColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #181f29;

  @media (max-width: 576px) {
    font-size: 1.8rem;
  }
}

.imageWrapper {
  margin-top: 3rem;
  text-align: center;
}