.dashboardWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.firstSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem 4rem;
  width: fit-content;
  background-color: #e73c17;
  color: #ffffff;
  height: 100px;

  @media (max-width: 576px) {
    padding: 2rem;
    width: 100%;
    justify-content: space-evenly;
  }
}

.firstSection h2 {
  font-size: 2.4rem;
  font-weight: 500;

  @media (max-width: 576px) {
    font-size: 1.7rem;
  }
}
.firstSection span {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}

.secondSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  background-color: #181F29;
  padding: 0 6rem;
  height: 100px;
  color: #ffffff;

  @media (max-width: 576px) {
    width: 100%;
    padding: 0 2rem;
  }
}

.secondSection input {
  width: 100%;
  border: 1px solid #ffffff;
  outline: none;
  padding: 1rem 2rem;
  color: #181F29;
  font-size: 1.8rem;
  letter-spacing: 1px;
  height: 45px;
}

.secondSection input::placeholder {
  color: #181F29;
  font-weight: 500;
}

.inputWrapper {
  width: 80%;
}

.dropdownWrapper {
  position: relative;
}

.dropdownElement {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  z-index: 1001;
  background-color: #ffffff;
  width: 200px;
  border: 1px solid #181F29;
}

.dropdownElement span {
  padding: 2rem;
  color: #181F29;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.dropdownElement span:not(:last-child) {
  border-bottom: 1px solid #181F29;
}

.dropdownElement span:hover {
  cursor: pointer;
  background-color: #c9cbcb;
  color: #181F29;
}

.dropdownWrapper button {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border: none;
  padding: 0 5rem;
  height: 45px;
}

.dropdownWrapper button span {
  display: flex;
  font-size: 2.5rem;
  margin-top: 2px;
}