.loadingContainer {
  display: grid;
  place-content: center;
  width: 100%;
  min-height: 50vh;
}

.loadingSpinner {
  border: 4px solid #ffffff;
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}