.tableWrapper {
  width: 100vw;
  min-height: 100vh;
  padding: 5rem 10rem 10rem;
  margin: 0;
  background-color: #181F29;

  @media (max-width: 576px) {
    padding: 1rem 1rem 5rem 1rem;
  }
}

.table {
  width: 100%;
  table-layout:auto;
  border-collapse: collapse;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  background-color: #ffffff;
  color: #181F29;
}

.tableHead {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 1;

  @media (max-width: 576px) {
    font-size: 1.2rem;
  }
}

.tableHead th {
  border: 2px solid #181F29;
  cursor: pointer;
  padding: 1.5rem 0;
  transition: all 0.3s;
}
.tableHead th:nth-child(2n) {
  background-color: #697c94;
  color: white;
}

.tableHead th:hover {
  background-color: #e73c17;
  color: #ffffff;
}

.tableBody {
  width: 100%;
}

.tableBody tr {
  padding: 2rem 0;
}

.tableBody tr:nth-child(2n) {
  background-color: #f9d6cf;
}