:root {
  --color-background-001: #181F29;

  --color-white: #ffffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 62.5% !important;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-family: 'Varta', sans-serif;
  font-size: 1.4rem !important;
}

a {
  color: inherit;
  text-decoration: none;
}
